.friendsList {
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

.friendItem {
  background-color:whitesmoke;
  box-shadow: 0 3px 15px 3px ;
  display: flex;
  align-items: center;
  width: 33%;
  padding: 10px;
}

.friendsItem:not(:last-child) {
    margin-bottom: 40px;
  }


.freindSpan {
  /* background-color: ${(props) => (props.isOnline ? '#00FF33' : '#FF0000')}; */
  display: block;
  width: 20px;
  margin-right: 20px;
  height: 20px;
  border-radius: 50%;
}

.friendImg {
  height: 130px;
  width: 130px;
  border-radius: 8px;
  margin-right: 20px;
  background-size: contain;
}
.friendName {
  font-weight: 1000;
  font-size: 25px;
}


